<div class="edge"></div>
<div class="story-preview">
  <h3 *ngIf="story?.sourceUrl; else textStory">{{ storyNumber }}. <a [href]="story?.sourceUrl" target="_blank">{{ story?.title }}</a></h3>
  <ng-template #textStory>
    <p>{{ storyNumber + 1 }}. <a routerLink="/story/{{ story?.id }}" target="_blank">{{ story?.title }}</a></p>
  </ng-template>

  <small>{{ story?.score }} {{ story?.score === 1 ? 'point' : 'points' }}</small>&nbsp;|
  <small>By {{ story?.userAuthor }}</small>&nbsp;|
  <small>Time: {{ storyTimeSince }}</small>&nbsp;|
  <small><a routerLink="/comments/{{ story?.id }}">Comments: {{ story?.commentCount }}</a></small>&nbsp;|
  <small>Type: {{ story?.type }}</small>
</div>
