<div class="story-preview">
    <h3 *ngIf="story?.sourceUrl; else textStory">{{ storyNumber }}. <a [href]="story?.sourceUrl" target="_blank">{{ story?.title }}</a></h3>
    
    <ng-template #textStory>
        <h3>{{ storyNumber + 1 }}. <a routerLink="/stories/{{ story?.id }}" target="_blank">{{ story?.title }}</a></h3>
    </ng-template>

    <div class="info-bar">
        <div class="info-tag">{{ story?.score }} {{ story?.score === 1 ? 'point' : 'points' }}</div>
        <div class="info-tag">By {{ story?.userAuthor }}</div>
        <div class="info-tag">Time: {{ storyTimeSince }}</div>
        <div class="info-tag"><a routerLink="/comments/{{ story?.id }}">Comments: {{ story?.commentCount }}</a></div>
        <div class="info-tag">Type: {{ story?.type }}</div>
    </div>
</div>