$primary-text: #ffffff;
$primary: #263238;
$primary-light: #4f5b62;
$primary-dark: #000a12;

$secondary-text: #000000;
$secondary: #ff6f00;
$secondary-light: #ffa040;
$secondary-dark: #c43e00;

$shadow: 0 0.1em 0.5em 0.2em rgba(0, 0, 0, 1);