<div class="flex-container">
  <div class="story-preview">
    <h3>{{ story?.title }}</h3>
    <small>{{ story?.score }} {{ story?.score === 1 ? 'point' : 'points' }}</small>&nbsp;|
    <small>By {{ story?.userAuthor }}</small>&nbsp;|
    <small>Time: {{ storyTimeSince }}</small>&nbsp;|
    <small><a routerLink="/comments/{{ story?.id }}">Comments: {{ story?.commentCount }}</a></small>&nbsp;|
    <small>Type: {{ story?.type }}</small>
  </div>
  
  <div class="text-story" [innerHtml]="story?.text"></div>
</div>