<nav>
    <div class="title">
        <a class="nav-link" routerLink="/">Hacker News Clone</a>
    </div>

    <ul class="links">
        <li>
            <a
                class="nav-link"
                routerLink="/home"
                routerLinkActive="active-path">
                Home
            </a>
        </li>
        <li>
            <a
                class="nav-link"
                routerLink="/new"
                routerLinkActive="active-path">
                New
            </a>
        </li>
    </ul>
</nav>