<div class="pagination">
    <div class="page-picker">
        <div
        [ngClass]="{'button': true, 'disabled': previousDisabled}"
        (click)="onPreviousPage()">
            previous
        </div>

        <ng-container *ngFor="let page of pages; index as i">
            <div
                class="page-number"
                *ngIf="pageNumber === i; else emptyField">
                {{ i + 1 }}
            </div>

            <ng-template #emptyField>
                <div
                    class="page-number page-number-clickable"
                    (click)="onPageSelect(i)">
                    {{ i + 1 }}
                </div>
            </ng-template>
        </ng-container>

        <div
            (click)="onNextPage()"
            [ngClass]="{'button': true, 'disabled': nextDisabled}">
            next
        </div>
    </div>

    <div class="size-picker">
        <div class="size-picker-label">page size</div>
        <div
            [ngClass]="{'size-option': true, 'size-option-selected': option == sizeOption}"
            *ngFor="let option of [10, 50, 100]"
            (click)="onPageSizeChange(option)">
            {{ option }}
        </div>
    </div>
</div>