@import '../../global-styles/main.scss';


.comment-view {
  margin-bottom: 1em;
  padding: 1em 3em;
  background-color: $primary-light;
  color: $primary-text;
  box-shadow: $shadow;
}

.response-view {
  margin: 1.6em -3em -1em;
  padding: 1em 3em;
  background-color: $primary;
  color: $primary-text;
}

.comment-header {
  margin-bottom: 0.6em;
}

.response-to {
  font-weight: 700;
}

.author {
  font-weight: 700;
  color: $secondary-light;
}

.short-view {
  height: 3em;
  overflow: hidden;
}

.full-view {
  min-height: 3em;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
  
  .show-toggle {
    cursor: pointer;
  }

  .responses {
    color: $secondary-light;
  
    &:hover {
      color: $secondary-dark;
    }
  }
}