<button (click)="onPreviousPage()" [disabled]="previousDisabled">Previous page</button>

<ng-container *ngFor="let page of pages; index as i">
  <span *ngIf="pagination.page === i; else emptyField"> {{ i + 1 }} </span>
  <ng-template #emptyField>
    <small (click)="onPageSelect(i)" style="cursor:pointer"> {{ i + 1 }} </small>
  </ng-template>
</ng-container>

<button (click)="onNextPage()" [disabled]="nextDisabled">Next page</button>
&nbsp;|

<label for="pageSize">Page size: </label>
<select [(ngModel)]="paginationChanges.pageSize" name="pageSize" id="pageSize" (change)="onPageSizeChange()">
  <option *ngFor="let option of [10, 50, 100]" [value]="option">{{ option }}</option>
</select>

