<div [ngClass]="isResponse ? 'response-view' : 'comment-view'">
  <div class="comment-header info-bar">
    <div class="info-tag">response to: <span class="response-to">{{ responseTo }}</span></div>
    <div class="info-tag">by <span class="author">{{ comment.userAuthor }}</span></div>
    <div class="info-tag">{{ commentTimeSince }}</div>
  </div>

  <div #showMoreLess [ngClass]="!isExpanded ? 'short-view': 'full-view'" [innerHtml]="comment.text"></div>

  <div class="comment-footer">
    <small
        [ngClass]="{ 'toggleOff': isExpanded }"
        class="show-toggle"
        (click)="toggleView('more')">
        Show more
    </small>
    <small
        [ngClass]="{ 'toggleOff': !isExpanded, 'toggleHide': isExpanded && showMoreLess.offsetHeight <= 48  }"
        class="show-toggle"
        (click)="toggleView('less')">
        Show less
    </small>
    <small
        class="responses"
        [ngClass]="{ 'disabled': comment.rankedCommentList.length === 0 }"
        style="cursor: pointer"
        (click)="loadResponses(comment.id)">
        {{ comment.rankedCommentList.length > 0 ? (isClicked ? '&#x25b2;' : '&#x25bC;') : '' }} responses: {{ comment.rankedCommentList.length }}
    </small>
  </div>
  
  <div *ngIf="isClicked">
    <hnc-comment-view *ngFor="let response of responses"
      [comment]="response"
      [responseTo]="author"
      [isResponse]="true">
    </hnc-comment-view>
  </div>
</div>
