@import '../../global-styles/main.scss';


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;
  color: $primary-text;
  background-color: $secondary;
  box-shadow: $shadow;
}

.title {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;

  @include responsive(very-small-size) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.links {
  display: flex;
  margin-left: auto;

  @include responsive(very-small-size) {
    flex-direction: column;
    flex-basis: 100%;
  }

  li {    
    list-style: none;
  }
}

.nav-link {
  display: block;
  padding: 0.6em 1em;
      
  @include responsive(very-small-size) {
    flex-basis: 100%;
    text-align: center;
  }

  &:link {
    text-decoration: none;
  }

  &:visited {
    color: $primary-text;
  }

  &:hover {
    background-color: none;
  }
}
