@import '../../../global-styles/main.scss';


.text-story {
    margin-bottom: 3em;
    padding: 3em 3em;
    background-color: $primary-light;
    color: $primary-text;
    box-shadow: $shadow;

    @include responsive(small-size) {
        padding: 1em 1.5em;
    }
}